/*
 * Load font locally to avoid issues with text selection 
 * after generation of PDF
 */
@font-face {
  font-family: 'Inter';
  src: url('../Inter.ttf')  format('truetype')
}

/* --- General Styles --- */

html {
  color: #606c7d;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

p {
  margin: 0 0 25px;
}

a {
  color: #5750ec;
}

code {
  background: #edf2f7;
  color: #4a5568;
  font-size: 12px;
  padding: 2px 4px;
}

h1,
h2,
h3,
h4 {
  color: #2d3748;
  line-height: 1.25;
}

h1 {
  margin-bottom: 50px;
}

.hljs {
  border-radius: 8px;
  font-size: 14px !important;
  margin-bottom: 25px;
  padding: 15px !important;
}

/* --- Utilities --- */

.page-break {
  page-break-after: always;
}